Repository cycle/database, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cycle/core-contributors, @cycle/infrastructure, @cycle/contributors

Removed white space, as no changes are needed for this file
  src/ColumnInterface.php
Owners: @cycle/core-contributors, @cycle/contributors

refactor: simplify column creation logic
  src/Driver/Handler.php
  src/Driver/MySQL/Schema/MySQLColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

test(PositionColumn): add `DontGenerateAttribute` annotation
  tests/Database/Functional/Driver/Common/Schema/PositionColumnTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Removed methods isFirst and getAfter from MySQLColumn class, not needed as this functionality is only relevant for migrations
  src/Driver/MySQL/Schema/MySQLColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

feat(MySQLColumn): convert `after` method into annotation declaration
  src/Driver/MySQL/Schema/MySQLColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

feat(MySQL): add `first` and `after` into column declaration (#226)
  src/Driver/MySQL/Schema/MySQLColumn.php
  tests/Database/Functional/Driver/Common/Schema/PositionColumnTest.php
  tests/Database/Functional/Driver/MySQL/Schema/PositionColumnTest.php
Owners: @cycle/core-contributors, @cycle/contributors

test(MySQL): Added a test case proving bug with boolean columns
  tests/Database/Functional/Driver/MySQL/Connection/CustomOptionsTest.php
Owners: @cycle/core-contributors, @cycle/contributors

test(MySQL): enhance boolean column configuration tests with zerofill and nullable checks
  tests/Database/Functional/Driver/MySQL/Connection/CustomOptionsTest.php
Owners: @cycle/core-contributors, @cycle/contributors

chore: update method annotations in MySQLColumn for improved clarity
  src/Driver/MySQL/Schema/MySQLColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

style(php-cs-fixer): fix coding standards
  src/Driver/Jsoner.php
Owners: @cycle/core-contributors, @cycle/contributors

Ensures differences in size for boolean columns are ignore when matching defaults
  src/Driver/Jsoner.php
  src/Driver/MySQL/Schema/MySQLColumn.php
  tests/Database/Functional/Driver/MySQL/Schema/BooleanColumnTest.php
Owners: @cycle/core-contributors, @cycle/contributors

chore: test without hostfix
  src/Driver/MySQL/Schema/MySQLColumn.php
  tests/Database/Functional/Driver/MySQL/Schema/BooleanColumnTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Added a test case which proves the issue
  tests/Database/Functional/Driver/MySQL/Schema/BooleanColumnTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Added a test case which confirms the issue
  tests/Database/Functional/Driver/MySQL/Schema/BooleanColumnTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Removed code which should be here
  src/Driver/MySQL/Schema/MySQLColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

Fixes the issue when comparing boolean columns under certain circumstances
  src/Schema/AbstractColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

Added upsert functionality for MySQL, Postgres, SQLite and SQLServer
  src/Database.php
  src/DatabaseInterface.php
  src/Driver/Compiler.php
  src/Driver/CompilerInterface.php
  src/Driver/Jsoner.php
  src/Driver/MySQL/MySQLCompiler.php
  src/Driver/MySQL/MySQLDriver.php
  src/Driver/Postgres/PostgresCompiler.php
  src/Driver/Postgres/PostgresDriver.php
  src/Driver/Postgres/Query/PostgresUpsertQuery.php
  src/Driver/SQLServer/Query/SQLServerUpsertQuery.php
  src/Driver/SQLServer/SQLServerCompiler.php
  src/Driver/SQLServer/SQLServerDriver.php
  src/Driver/SQLite/SQLiteDriver.php
  src/Query/BuilderInterface.php
  src/Query/QueryBuilder.php
  src/Query/UpsertQuery.php
  src/Table.php
Owners: @cycle/core-contributors, @cycle/contributors

Added upsert test cases for MySQL, Postgres, SQLite and SQLServer
  tests/Database/Functional/Driver/Common/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/MySQL/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/Postgres/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/SQLServer/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/SQLite/Query/UpsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Merge statement must be terminated by a semicolon
  src/Driver/SQLServer/SQLServerCompiler.php
  tests/Database/Functional/Driver/SQLServer/Query/UpsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Updated upsertOne and upsertMultiple methods to accept conflicts argument
  src/Table.php
Owners: @cycle/core-contributors, @cycle/contributors

Includes upsertOne and upsertMultiple for common table test
  tests/Database/Functional/Driver/Common/Schema/TableTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Includes overridden test case given Postgres sequence handling
  tests/Database/Functional/Driver/Postgres/Schema/TableTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Updated test as SQLServer does require conflicts defined
  tests/Database/Functional/Driver/SQLServer/Query/UpsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Improved test coverage for Postgres when returning with Fragment
  tests/Database/Functional/Driver/Postgres/Query/UpsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Added additional composer utilities for testing and code coverage
  .gitignore
  composer.json
Owners: @cycle/infrastructure, @cycle/core-contributors, @cycle/contributors

Added support for returning values/fragments whilst upserting with sqlserver
  src/Driver/SQLServer/SQLServerCompiler.php
  tests/Database/Functional/Driver/SQLServer/Query/UpsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Tweaked formatting
  src/Driver/SQLServer/SQLServerCompiler.php
Owners: @cycle/core-contributors, @cycle/contributors

Added more test cases and code coverage
  src/Query/UpsertQuery.php
  tests/Database/Functional/Driver/Postgres/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/SQLServer/Query/UpsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Added more test cases and code coverage
  tests/Database/Functional/Driver/SQLServer/Query/UpsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Introduced ULID type via annotations and added column mapping for each driver
  src/Driver/MySQL/Schema/MySQLColumn.php
  src/Driver/Postgres/Schema/PostgresColumn.php
  src/Driver/SQLServer/Schema/SQLServerColumn.php
  src/Driver/SQLite/Schema/SQLiteColumn.php
  src/Schema/AbstractColumn.php
  src/Schema/AbstractTable.php
Owners: @cycle/core-contributors, @cycle/contributors

Add test coverage for newly introduced ULID type
  tests/Database/Functional/Driver/Common/Schema/ConsistencyTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Psalm baseline has not been updated recently
  psalm-baseline.xml
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

style(php-cs-fixer): fix coding standards
  tests/Database/Functional/Driver/Common/Schema/TableTest.php
  tests/Database/Functional/Driver/Postgres/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/Postgres/Schema/TableTest.php
  tests/Database/Functional/Driver/SQLServer/Query/UpsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

style(php-cs-fixer): fix coding standards
  src/Driver/Jsoner.php
Owners: @cycle/core-contributors, @cycle/contributors

Introduced ULID type via annotations and added column mapping for each driver
  psalm-baseline.xml
  src/Driver/MySQL/Schema/MySQLColumn.php
  src/Driver/Postgres/Schema/PostgresColumn.php
  src/Driver/SQLServer/Schema/SQLServerColumn.php
  src/Driver/SQLite/Schema/SQLiteColumn.php
  src/Schema/AbstractColumn.php
  src/Schema/AbstractTable.php
  tests/Database/Functional/Driver/Common/Schema/ConsistencyTest.php
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

Further test coverage for ulids and uuids
  tests/Database/Functional/Driver/Common/Schema/ConsistencyTest.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: add ULID column type (#233)
  psalm-baseline.xml
  src/Driver/Jsoner.php
  src/Driver/MySQL/Schema/MySQLColumn.php
  src/Driver/Postgres/Schema/PostgresColumn.php
  src/Driver/SQLServer/Schema/SQLServerColumn.php
  src/Driver/SQLite/Schema/SQLiteColumn.php
  src/Schema/AbstractColumn.php
  src/Schema/AbstractTable.php
  tests/Database/Functional/Driver/Common/Schema/ConsistencyTest.php
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

refactor: simplify boolean value handling in default value assignment
  src/Schema/AbstractColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

Update AbstractColumn.php
  src/Schema/AbstractColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

fix: enhance boolean column comparison handling for unknown sizes
  src/Driver/MySQL/Schema/MySQLColumn.php
  src/Schema/AbstractColumn.php
  tests/Database/Functional/Driver/MySQL/Schema/BooleanColumnTest.php
Owners: @cycle/core-contributors, @cycle/contributors

.github/CODEOWNERS:

# For more information, see the following link:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global, default code owners for the entire repository.
# Responsible for reviewing any code changes that do not have a more specific owner.
*               @cycle/core-contributors

# @cycle/infrastructure is responsible to review "support/health/infra files".
.github/        @cycle/infrastructure
.*              @cycle/infrastructure
.*.yml          @cycle/infrastructure
.*.yaml         @cycle/infrastructure
*.md            @cycle/infrastructure

# @cycle/contributors and @cycle/core-contributors are responsible to review "core" files.
resources/      @cycle/core-contributors @cycle/contributors
src/            @cycle/core-contributors @cycle/contributors
tests/          @cycle/core-contributors @cycle/contributors

# all teams are responsible to review dependency and test configuration files.
composer.*      @cycle/core-contributors @cycle/contributors @cycle/infrastructure
infection.*     @cycle/core-contributors @cycle/contributors @cycle/infrastructure
*.xml           @cycle/core-contributors @cycle/contributors @cycle/infrastructure
