Repository cycle/database, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cycle/core-contributors, @cycle/infrastructure, @cycle/contributors

Add public clearCache method
  src/Driver/Driver.php
Owners: @cycle/core-contributors, @cycle/contributors

chore: add funding well-known metadata
  .well-known/funding-manifest-urls
Owners: @cycle/infrastructure

fix: Added comment support for create table statement and alter table statement
  psalm-baseline.xml
  src/Driver/MySQL/Schema/MySQLColumn.php
  src/Driver/Postgres/PostgresHandler.php
  src/Driver/Postgres/Schema/PostgresColumn.php
  src/Driver/Postgres/Schema/PostgresTable.php
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

fix: Added comment support for create table statement and alter table statement
  src/Driver/MySQL/Schema/MySQLColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

fix: Added tests for the comments functionality
  tests/Database/Functional/Driver/MySQL/Schema/CommentTest.php
  tests/Database/Functional/Driver/Postgres/Schema/CommentTest.php
Owners: @cycle/core-contributors, @cycle/contributors

tests: enhance test generator; reorganize comment tests (move similar methods into common class)
  src/Driver/MySQL/Schema/MySQLColumn.php
  tests/Database/Functional/Driver/Common/BaseTest.php
  tests/Database/Functional/Driver/Common/Connection/BaseConnectionTest.php
  tests/Database/Functional/Driver/Common/Schema/CommentTest.php
  tests/Database/Functional/Driver/MySQL/Schema/CommentTest.php
  tests/Database/Functional/Driver/Postgres/Schema/CommentTest.php
  tests/Database/Utils/DontGenerateAttribute.php
  tests/generate.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: add `getColumn()` method into ColumnInterface
  src/ColumnInterface.php
  src/Schema/AbstractColumn.php
  tests/Database/Functional/Driver/Common/Schema/CommentTest.php
Owners: @cycle/core-contributors, @cycle/contributors

ci: update workflow actions
  .github/workflows/ci.yml
  .github/workflows/main.yml
Owners: @cycle/infrastructure

ci: fix labeler permissions; use composer update in tests
  .github/workflows/apply-labels.yml
  .github/workflows/main.yml
Owners: @cycle/infrastructure

style(php-cs-fixer): fix coding standards
  src/Schema/AbstractColumn.php
  tests/Database/Functional/Driver/Common/Schema/CommentTest.php
  tests/generate.php
Owners: @cycle/core-contributors, @cycle/contributors

tests: cove Driver::cleanCache() and ::withoutCache()
  src/Driver/Driver.php
  tests/Database/Functional/Driver/Common/Driver/DriverTest.php
Owners: @cycle/core-contributors, @cycle/contributors

chore: rename Driver::cleanCache to clearCache
  src/Driver/Driver.php
  tests/Database/Functional/Driver/Common/Driver/DriverTest.php
Owners: @cycle/core-contributors, @cycle/contributors

tests: enhance test generator; reorganize comment tests (move similar methods into common class)
  src/Driver/MySQL/Schema/MySQLColumn.php
  tests/Database/Functional/Driver/Common/BaseTest.php
  tests/Database/Functional/Driver/Common/Connection/BaseConnectionTest.php
  tests/Database/Functional/Driver/Common/Schema/CommentTest.php
  tests/Database/Functional/Driver/MySQL/Schema/CommentTest.php
  tests/Database/Functional/Driver/Postgres/Schema/CommentTest.php
  tests/Database/Utils/DontGenerateAttribute.php
  tests/generate.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: Add getComment() method to `AbstractColumn`
  psalm-baseline.xml
  src/Driver/MySQL/Schema/MySQLColumn.php
  src/Driver/Postgres/PostgresHandler.php
  src/Driver/Postgres/Schema/PostgresColumn.php
  src/Driver/Postgres/Schema/PostgresTable.php
  tests/Database/Functional/Driver/MySQL/Schema/CommentTest.php
  tests/Database/Functional/Driver/Postgres/Schema/CommentTest.php
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

feat: add `getComment()` method annotation into `ColumnInterface`
  src/ColumnInterface.php
  src/Schema/AbstractColumn.php
  tests/Database/Functional/Driver/Common/Schema/CommentTest.php
Owners: @cycle/core-contributors, @cycle/contributors

ci: update workflow actions
  .github/workflows/apply-labels.yml
  .github/workflows/ci.yml
  .github/workflows/main.yml
Owners: @cycle/infrastructure

feat: add public `Driver::clearCache()` method
  src/Driver/Driver.php
  src/Driver/Jsoner.php
  src/Schema/AbstractColumn.php
  tests/Database/Functional/Driver/Common/Schema/CommentTest.php
  tests/generate.php
Owners: @cycle/core-contributors, @cycle/contributors

tests: cover `Driver::cleanCache()` and `Driver::withoutCache()`
  src/Driver/Driver.php
  tests/Database/Functional/Driver/Common/Driver/DriverTest.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: Added database reference to exception message (for SQLite)
  src/Config/SQLite/ConnectionConfig.php
  src/Config/SQLite/FileConnectionConfig.php
  src/Config/SQLite/MemoryConnectionConfig.php
  src/Driver/SQLite/SQLiteDriver.php
  src/Exception/StatementException.php
Owners: @cycle/core-contributors, @cycle/contributors

Update SelectQuery.php
  src/Query/SelectQuery.php
Owners: @cycle/core-contributors, @cycle/contributors

Added upsert functionality for MySQL, Postgres and SQLite
  src/Database.php
  src/DatabaseInterface.php
  src/Driver/Compiler.php
  src/Driver/CompilerInterface.php
  src/Driver/MySQL/MySQLDriver.php
  src/Driver/Postgres/PostgresCompiler.php
  src/Driver/Postgres/PostgresDriver.php
  src/Driver/Postgres/Query/PostgresUpsertQuery.php
  src/Driver/SQLServer/Query/SQLServerUpsertQuery.php
  src/Driver/SQLServer/SQLServerCompiler.php
  src/Driver/SQLServer/SQLServerDriver.php
  src/Driver/SQLite/SQLiteCompiler.php
  src/Driver/SQLite/SQLiteDriver.php
  src/Query/BuilderInterface.php
  src/Query/QueryBuilder.php
  src/Query/UpsertQuery.php
  src/Table.php
Owners: @cycle/core-contributors, @cycle/contributors

Added upsert test cases for MySQL, Postgres and SQLite
  tests/Database/Functional/Driver/Common/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/MySQL/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/Postgres/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/SQLServer/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/SQLite/Query/UpsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Some assumptions were wrong, now supporting upserting for all drivers
  src/Driver/Compiler.php
  src/Driver/MySQL/MySQLCompiler.php
  src/Driver/Postgres/PostgresCompiler.php
  src/Driver/SQLServer/SQLServerCompiler.php
  src/Driver/SQLite/SQLiteCompiler.php
  src/Query/UpsertQuery.php
  tests/Database/Functional/Driver/Common/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/MySQL/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/Postgres/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/SQLServer/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/SQLite/Query/UpsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Some assumptions were wrong, syntax should be correct across various drivers
  src/Driver/Compiler.php
  src/Driver/MySQL/MySQLCompiler.php
  src/Driver/SQLServer/SQLServerCompiler.php
  src/Query/UpsertQuery.php
  tests/Database/Functional/Driver/Common/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/MySQL/Query/UpsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Define new interface methods isFirst, getAfter and explicitly define getComment rather than use annotations
  src/ColumnInterface.php
Owners: @cycle/core-contributors, @cycle/contributors

Add AbstractColumn stubs for methods first, isFirst, after, getAfter
  src/Schema/AbstractColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

Implement MySQLColumn methods first, isFirst, after, getAfter. The only driver supporting column positioning
  src/Driver/MySQL/Schema/MySQLColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

Implement column positioning within Handler, allowing added columns to define being positioned first or after another column
  src/Driver/Handler.php
Owners: @cycle/core-contributors, @cycle/contributors

When adding a column after another, ensure the column already exists before executing
  src/Driver/Handler.php
Owners: @cycle/core-contributors, @cycle/contributors

Add base test class for testing column positioning
  tests/Database/Functional/Driver/Common/Schema/PositionColumnTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Add MySQL test class for testing column positioning
  tests/Database/Functional/Driver/MySQL/Schema/PositionColumnTest.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: add SubQuery injection
  src/Driver/Compiler.php
  src/Driver/CompilerCache.php
  src/Driver/CompilerInterface.php
  src/Injection/SubQueryInjection.php
  tests/Database/Functional/Driver/Common/Query/SelectQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

style: fix code style; rename `SubQueryInjection` to `SubQuery`
  src/Driver/CompilerCache.php
  src/Injection/FragmentInterface.php
  src/Injection/SubQuery.php
  tests/Database/Functional/Driver/Common/Query/SelectQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

refactor: rename `selectSubQuery` to `subQuery` and update related query logic
  src/Driver/Compiler.php
  src/Driver/CompilerInterface.php
Owners: @cycle/core-contributors, @cycle/contributors

test: enhance subquery tests with additional conditions and parameters
  tests/Database/Functional/Driver/Common/Query/SelectQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: add parameters to SubQuery
  src/Driver/CompilerCache.php
  src/Injection/SubQuery.php
Owners: @cycle/core-contributors, @cycle/contributors

style: improve code formatting and consistency in Compiler, Jsoner, and SubQuery
  src/Driver/Compiler.php
  src/Driver/Jsoner.php
  src/Injection/SubQuery.php
Owners: @cycle/core-contributors, @cycle/contributors

docs: cover SubQuery with comments
  src/Injection/SubQuery.php
  src/Query/SelectQuery.php
Owners: @cycle/core-contributors, @cycle/contributors

Readded getComment annotation and removed isFirst and getAfter methods. Which are now only defined in MySQLColumn class.
  src/ColumnInterface.php
Owners: @cycle/core-contributors, @cycle/contributors

Removed first, isFirst, after, and getAfter methods. Which are now only defined in MySQLColumn class.
  src/Schema/AbstractColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

.github/CODEOWNERS:

# For more information, see the following link:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global, default code owners for the entire repository.
# Responsible for reviewing any code changes that do not have a more specific owner.
*               @cycle/core-contributors

# @cycle/infrastructure is responsible to review "support/health/infra files".
.github/        @cycle/infrastructure
.*              @cycle/infrastructure
.*.yml          @cycle/infrastructure
.*.yaml         @cycle/infrastructure
*.md            @cycle/infrastructure

# @cycle/contributors and @cycle/core-contributors are responsible to review "core" files.
resources/      @cycle/core-contributors @cycle/contributors
src/            @cycle/core-contributors @cycle/contributors
tests/          @cycle/core-contributors @cycle/contributors

# all teams are responsible to review dependency and test configuration files.
composer.*      @cycle/core-contributors @cycle/contributors @cycle/infrastructure
infection.*     @cycle/core-contributors @cycle/contributors @cycle/infrastructure
*.xml           @cycle/core-contributors @cycle/contributors @cycle/infrastructure
