Repository cycle/database, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cycle/core-contributors, @cycle/infrastructure, @cycle/contributors

feat: postgres array type detection
  src/Driver/Postgres/Schema/PostgresColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

Add intersect and except statements
  src/Driver/Compiler.php
  src/Driver/CompilerCache.php
  src/Driver/SQLServer/SQLServerCompiler.php
  src/Query/SelectQuery.php
  tests/Database/Functional/Driver/Common/Query/NestedQueriesTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Fix indentation
  src/Query/SelectQuery.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: add the ability to specify the full name of the join type
  src/Driver/Compiler.php
  tests/Database/Functional/Driver/Common/Query/SelectWithJoinQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

test: add tests using fragments in orderBy
  tests/Database/Functional/Driver/Common/Query/SelectQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

fix: add parameter consideration when hashing the query part with orderBy
  src/Driver/CompilerCache.php
Owners: @cycle/core-contributors, @cycle/contributors

fix enabling mysql-native-password
  tests/docker-compose.yml
Owners: @cycle/core-contributors, @cycle/contributors

test: fix tests
  tests/Database/Unit/Query/Tokens/SelectQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

add tests for caching queries with joins
  tests/Database/Functional/Driver/Postgres/Query/SelectWithJoinQueryTest.php
  tests/Database/Functional/Driver/SQLite/Query/SelectWithJoinQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

fix caching queries with joins
  src/Driver/CompilerCache.php
Owners: @cycle/core-contributors, @cycle/contributors

add test case for postgress internal array types
  src/Driver/Postgres/Schema/PostgresColumn.php
  tests/Database/Functional/Driver/Postgres/Schema/ArrayColumnTest.php
Owners: @cycle/core-contributors, @cycle/contributors

fix: typecasting of an integer to a boolean in SQLite
  src/Driver/SQLite/Schema/SQLiteColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

tests: add tests for boolean column
  tests/Database/Functional/Driver/Common/Schema/BooleanColumnTest.php
  tests/Database/Functional/Driver/MySQL/Schema/BooleanColumnTest.php
  tests/Database/Functional/Driver/Postgres/Schema/BooleanColumnTest.php
  tests/Database/Functional/Driver/SQLServer/Schema/BooleanColumnTest.php
  tests/Database/Functional/Driver/SQLite/Schema/BooleanColumnTest.php
Owners: @cycle/core-contributors, @cycle/contributors

chore: simplify code; update dependencies
  composer.json
  composer.lock
  src/Driver/Postgres/Schema/PostgresColumn.php
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

ci: replace `docker-compose` with `docker compose`
  .github/workflows/main.yml
  CONTRIBUTING.md
Owners: @cycle/infrastructure

chore: remove trap package because it requires php 8.1
  composer.json
  composer.lock
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

ci: fix MSSQL initialization in CI
  .github/workflows/ci-mssql.yml
Owners: @cycle/infrastructure

tests: improve docker compose file: remove `restart: always`, fix mysql
  tests/docker-compose.yml
Owners: @cycle/core-contributors, @cycle/contributors

ci: use common MSSQL workflow
  .github/workflows/ci-mssql.yml
Owners: @cycle/infrastructure

ci: use common MySQL workflow
  .github/workflows/ci-mssql.yml
  .github/workflows/ci-mysql.yml
Owners: @cycle/infrastructure

ci: use common Postgres workflow
  .github/workflows/ci-pgsql.yml
Owners: @cycle/infrastructure

ci: add Spiral CS fixer
  .github/workflows/cs-fix.yml
  .php-cs-fixer.dist.php
  .styleci.yml
  composer.json
  composer.lock
Owners: @cycle/infrastructure, @cycle/core-contributors, @cycle/contributors

chore: update phpunit and psalm configs; add psalm baseline
  phpunit.xml
  psalm-baseline.xml
  psalm.xml
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

chore: use the same password for all the DB in tests
  tests/bootstrap.php
  tests/docker-compose.yml
Owners: @cycle/core-contributors, @cycle/contributors

style(php-cs-fixer): fix coding standards
  composer.lock
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

chore: update metafiles
  .gitattributes
  .gitignore
Owners: @cycle/infrastructure

ci: normalize DB passwords in tests; fix style in cs-fix workflow
  .github/workflows/cs-fix.yml
  composer.json
  composer.lock
  tests/Database/Functional/Driver/Postgres/DriverTest.php
  tests/Database/Functional/Driver/Postgres/Helpers.php
  tests/bootstrap.php
  tests/docker-compose.yml
Owners: @cycle/infrastructure, @cycle/core-contributors, @cycle/contributors

chore: optimize gitattributes file
  .gitattributes
Owners: @cycle/infrastructure

chore: remove cs-fixer cache file
  runtime/php-cs-fixer.cache
Owners: @cycle/core-contributors

chore: ignore *.dist files on the package installing
  .gitattributes
Owners: @cycle/infrastructure

Fix deprecated nullable types
  composer.lock
  src/Database.php
  src/DatabaseInterface.php
  src/DatabaseManager.php
  src/DatabaseProviderInterface.php
  src/Driver/Compiler.php
  src/Driver/Driver.php
  src/Driver/DriverInterface.php
  src/Driver/HandlerInterface.php
  src/Driver/Jsoner.php
  src/Driver/MySQL/MySQLCompiler.php
  src/Driver/MySQL/MySQLHandler.php
  src/Driver/MySQL/Schema/MySQLColumn.php
  src/Driver/PDOStatementInterface.php
  src/Driver/Postgres/PostgresCompiler.php
  src/Driver/Postgres/PostgresDriver.php
  src/Driver/Postgres/PostgresHandler.php
  src/Driver/Postgres/Query/PostgresInsertQuery.php
  src/Driver/ReadonlyHandler.php
  src/Driver/SQLServer/Query/SQLServerInsertQuery.php
  src/Driver/SQLServer/SQLServerCompiler.php
  src/Driver/SQLServer/SQLServerHandler.php
  src/Driver/SQLite/SQLiteCompiler.php
  src/Driver/SQLite/SQLiteHandler.php
  src/Driver/SQLite/Schema/SQLiteColumn.php
  src/Driver/Statement.php
  src/Exception/ReadonlyConnectionException.php
  src/LoggerFactoryInterface.php
  src/Query/ActiveQuery.php
  src/Query/BuilderInterface.php
  src/Query/InsertQuery.php
  src/Query/QueryBuilder.php
  src/Query/QueryInterface.php
  src/Query/SelectQuery.php
  src/Query/Traits/JoinTrait.php
  src/Query/UpdateQuery.php
  src/Schema/AbstractColumn.php
  src/Schema/AbstractTable.php
  src/StatementInterface.php
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

style(php-cs-fixer): fix coding standards
  composer.lock
  src/Driver/Jsoner.php
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

feat: Reconnect on MySQL disconnected by inactivity
  src/Driver/MySQL/MySQLDriver.php
  tests/Database/Functional/Driver/MySQL/Connection/ConnectionExceptionTest.php
Owners: @cycle/core-contributors, @cycle/contributors

chore: update metafiles
  .gitignore
  .idea/icon.svg
Owners: @cycle/infrastructure

test: update MSSQL config
  tests/bootstrap.php
Owners: @cycle/core-contributors, @cycle/contributors

chore: update dependencies; update psalm baseline
  composer.json
  composer.lock
  psalm-baseline.xml
  src/Driver/Jsoner.php
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

ci: add ODBC driver to tests with codecov
  .github/workflows/main.yml
Owners: @cycle/infrastructure

feat: Add getComment() method to ColumnInterface
  src/ColumnInterface.php
  src/Driver/MySQL/Schema/MySQLColumn.php
  src/Driver/Postgres/Schema/PostgresColumn.php
  src/Driver/Postgres/Schema/PostgresTable.php
  src/Schema/AbstractColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

fix: Moved getComment() to supported implementations
  src/ColumnInterface.php
  src/Driver/MySQL/Schema/MySQLColumn.php
  src/Driver/Postgres/Schema/PostgresColumn.php
  src/Schema/AbstractColumn.php
Owners: @cycle/core-contributors, @cycle/contributors

style(php-cs-fixer): fix coding standards
  src/Driver/Jsoner.php
Owners: @cycle/core-contributors, @cycle/contributors

.github/CODEOWNERS:

# For more information, see the following link:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global, default code owners for the entire repository.
# Responsible for reviewing any code changes that do not have a more specific owner.
*               @cycle/core-contributors

# @cycle/infrastructure is responsible to review "support/health/infra files".
.github/        @cycle/infrastructure
.*              @cycle/infrastructure
.*.yml          @cycle/infrastructure
.*.yaml         @cycle/infrastructure
*.md            @cycle/infrastructure

# @cycle/contributors and @cycle/core-contributors are responsible to review "core" files.
resources/      @cycle/core-contributors @cycle/contributors
src/            @cycle/core-contributors @cycle/contributors
tests/          @cycle/core-contributors @cycle/contributors

# all teams are responsible to review dependency and test configuration files.
composer.*      @cycle/core-contributors @cycle/contributors @cycle/infrastructure
infection.*     @cycle/core-contributors @cycle/contributors @cycle/infrastructure
*.xml           @cycle/core-contributors @cycle/contributors @cycle/infrastructure
