Repository cycle/database, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cycle/core-contributors, @cycle/infrastructure, @cycle/contributors

.github/CODEOWNERS:

# For more information, see the following link:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global, default code owners for the entire repository.
# Responsible for reviewing any code changes that do not have a more specific owner.
*               @cycle/core-contributors

# @cycle/infrastructure is responsible to review "support/health/infra files".
.github/        @cycle/infrastructure
.*              @cycle/infrastructure
.*.yml          @cycle/infrastructure
.*.yaml         @cycle/infrastructure
*.md            @cycle/infrastructure

# @cycle/contributors and @cycle/core-contributors are responsible to review "core" files.
resources/      @cycle/core-contributors @cycle/contributors
src/            @cycle/core-contributors @cycle/contributors
tests/          @cycle/core-contributors @cycle/contributors

# all teams are responsible to review dependency and test configuration files.
composer.*      @cycle/core-contributors @cycle/contributors @cycle/infrastructure
infection.*     @cycle/core-contributors @cycle/contributors @cycle/infrastructure
*.xml           @cycle/core-contributors @cycle/contributors @cycle/infrastructure

fix: update boolean column comparison to exclude unknown size from checks
  src/Driver/MySQL/Schema/MySQLColumn.php
  tests/Database/Functional/Driver/MySQL/Schema/BooleanColumnTest.php
Owners: @cycle/core-contributors, @cycle/contributors

fix(MySQL): unsigned boolean Columns comparison (#234)
  src/Driver/MySQL/Schema/MySQLColumn.php
  tests/Database/Functional/Driver/MySQL/Schema/BooleanColumnTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Introduced Snowflake type via annotations and added column mapping for each driver
  src/Driver/MySQL/Schema/MySQLColumn.php
  src/Driver/Postgres/Schema/PostgresColumn.php
  src/Driver/SQLServer/Schema/SQLServerColumn.php
  src/Driver/SQLite/Schema/SQLiteColumn.php
  src/Schema/AbstractColumn.php
  src/Schema/AbstractTable.php
Owners: @cycle/core-contributors, @cycle/contributors

Added test coverage for Snowflakes
  tests/Database/Functional/Driver/Common/Schema/ConsistencyTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Updated psalm baseline which was missed in PR #234
  psalm-baseline.xml
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

feat: add `snowflake` column type alias (#235)
  psalm-baseline.xml
  src/Driver/MySQL/Schema/MySQLColumn.php
  src/Driver/Postgres/Schema/PostgresColumn.php
  src/Driver/SQLServer/Schema/SQLServerColumn.php
  src/Driver/SQLite/Schema/SQLiteColumn.php
  src/Schema/AbstractColumn.php
  src/Schema/AbstractTable.php
  tests/Database/Functional/Driver/Common/Schema/ConsistencyTest.php
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

fix: correct condition check for named parameters in Interpolator
  src/Query/Interpolator.php
Owners: @cycle/core-contributors, @cycle/contributors

fix: correct condition check for named parameters in Interpolator (#238)
  src/Query/Interpolator.php
Owners: @cycle/core-contributors, @cycle/contributors

fix: Replace deprecated MySQL constant with scalar (#237)
  src/Config/MySQL/ConnectionConfig.php
Owners: @cycle/core-contributors, @cycle/contributors

chore: update deprecation notice for MYSQL_ATTR_INIT_COMMAND in ConnectionConfig
  src/Config/MySQL/ConnectionConfig.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: Added $distinct parameter to SelectQuery::count
  src/Query/SelectQuery.php
  tests/Database/Functional/Driver/Common/Schema/TableTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Added an extra test to cover all syntaxes
  tests/Database/Functional/Driver/Common/Schema/TableTest.php
Owners: @cycle/core-contributors, @cycle/contributors

chore: update PHP version requirement to 8.1 style(php-cs-fixer): fix coding standards
  .github/workflows/main.yml
  composer.json
  composer.lock
  src/Database.php
  src/DatabaseInterface.php
  src/Driver/Compiler.php
  src/Driver/Postgres/Schema/PostgresColumn.php
  src/Driver/Quoter.php
  src/Driver/SQLServer/Schema/SQLServerColumn.php
  src/Driver/SQLite/SQLiteHandler.php
  src/Query/Traits/HavingTrait.php
  src/Query/Traits/JoinTrait.php
  src/Query/Traits/TokenTrait.php
  src/Query/Traits/WhereTrait.php
  src/Schema/AbstractForeignKey.php
  src/Schema/AbstractTable.php
  tests/bootstrap.php
Owners: @cycle/infrastructure, @cycle/core-contributors, @cycle/contributors

feat: update PHP version requirement to 8.1 (#244)
  .github/workflows/main.yml
  composer.json
  composer.lock
  src/Database.php
  src/DatabaseInterface.php
  src/Driver/Compiler.php
  src/Driver/Postgres/Schema/PostgresColumn.php
  src/Driver/Quoter.php
  src/Driver/SQLServer/Schema/SQLServerColumn.php
  src/Driver/SQLite/SQLiteHandler.php
  src/Query/Traits/HavingTrait.php
  src/Query/Traits/JoinTrait.php
  src/Query/Traits/TokenTrait.php
  src/Query/Traits/WhereTrait.php
  src/Schema/AbstractForeignKey.php
  src/Schema/AbstractTable.php
  tests/bootstrap.php
Owners: @cycle/infrastructure, @cycle/core-contributors, @cycle/contributors

feat: Add charset and collation support for MySQL columns
  composer.lock
  src/Driver/MySQL/Schema/MySQLColumn.php
  tests/Database/Functional/Driver/Common/Driver/StatementTest.php
  tests/Database/Functional/Driver/Common/Schema/TableTest.php
  tests/Database/Functional/Driver/MySQL/Schema/CharsetCollationTest.php
  tests/Database/Unit/Query/InterpolatorTest.php
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

feat: Add charset and collation support for MySQL columns (#246)
  composer.lock
  src/Driver/MySQL/Schema/MySQLColumn.php
  tests/Database/Functional/Driver/Common/Driver/StatementTest.php
  tests/Database/Functional/Driver/Common/Schema/TableTest.php
  tests/Database/Functional/Driver/MySQL/Schema/CharsetCollationTest.php
  tests/Database/Unit/Query/InterpolatorTest.php
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

feat: Added $distinct parameter to SelectQuery::count (#242)
  src/Query/SelectQuery.php
  tests/Database/Functional/Driver/Common/Schema/TableTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Normalize composer deps, adjusting order they are defined
  composer.json
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

Normalize and update composer deps
  composer.lock
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

Updated composer and lock files
  composer.json
  composer.lock
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

Fixed composer normalize issues
  composer.json
  composer.lock
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

feat: Add Driver CursorableInterface
  src/Database.php
  src/DatabaseInterface.php
  src/Driver/CursorOptions.php
  src/Driver/CursorableInterface.php
  src/Driver/Postgres/PostgresCursorOptions.php
  src/Driver/Postgres/PostgresDriver.php
  src/Driver/SQLServer/SQLServerCursorOptions.php
  src/Driver/SQLServer/SQLServerCursorType.php
  src/Driver/SQLServer/SQLServerDriver.php
  src/Driver/SQLite/SQLiteDriver.php
  tests/Database/Functional/Driver/Common/Driver/CursorTest.php
  tests/Database/Functional/Driver/Common/Driver/DriverTest.php
  tests/Database/Functional/Driver/Postgres/Driver/CursorTest.php
  tests/Database/Functional/Driver/SQLServer/Driver/CursorTest.php
  tests/Database/Functional/Driver/SQLite/Driver/CursorTest.php
Owners: @cycle/core-contributors, @cycle/contributors

refactor: Rename SQLServerCursorType to CursorType
  src/Driver/SQLServer/CursorType.php
  src/Driver/SQLServer/SQLServerCursorOptions.php
  src/Driver/SQLServer/SQLServerDriver.php
  tests/Database/Functional/Driver/SQLServer/Driver/CursorTest.php
Owners: @cycle/core-contributors, @cycle/contributors

refactor: Add cursor name parameter to PG and MSSQL options
  src/Driver/CursorableInterface.php
  src/Driver/Postgres/PostgresCursorOptions.php
  src/Driver/Postgres/PostgresDriver.php
  src/Driver/SQLServer/SQLServerCursorOptions.php
  src/Driver/SQLServer/SQLServerDriver.php
  tests/Database/Functional/Driver/Postgres/Driver/CursorTest.php
  tests/Database/Functional/Driver/SQLServer/Driver/CursorTest.php
Owners: @cycle/core-contributors, @cycle/contributors

style: Fix code style
  composer.json
  composer.lock
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

feat: Add server-side cursors for streaming SELECT results (#247)
  composer.json
  composer.lock
  src/Database.php
  src/DatabaseInterface.php
  src/Driver/CursorOptions.php
  src/Driver/CursorableInterface.php
  src/Driver/Postgres/PostgresCursorOptions.php
  src/Driver/Postgres/PostgresDriver.php
  src/Driver/SQLServer/CursorType.php
  src/Driver/SQLServer/SQLServerCursorOptions.php
  src/Driver/SQLServer/SQLServerDriver.php
  src/Driver/SQLite/SQLiteDriver.php
  tests/Database/Functional/Driver/Common/Driver/CursorTest.php
  tests/Database/Functional/Driver/Common/Driver/DriverTest.php
  tests/Database/Functional/Driver/Postgres/Driver/CursorTest.php
  tests/Database/Functional/Driver/SQLServer/Driver/CursorTest.php
  tests/Database/Functional/Driver/SQLite/Driver/CursorTest.php
Owners: @cycle/core-contributors, @cycle/contributors, @cycle/infrastructure

feat: Add `InsertQuery::onConflict()` method
  src/Driver/Compiler.php
  src/Driver/CompilerCache.php
  src/Driver/CompilerInterface.php
  src/Driver/MySQL/MySQLCompiler.php
  src/Driver/MySQL/MySQLOnConflict.php
  src/Driver/Postgres/PostgresCompiler.php
  src/Driver/Postgres/PostgresOnConflict.php
  src/Driver/Postgres/Query/PostgresInsertQuery.php
  src/Driver/SQLServer/SQLServerCompiler.php
  src/Driver/SQLServer/SQLServerOnConflict.php
  src/Query/ActiveQuery.php
  src/Query/ConflictAction.php
  src/Query/InsertQuery.php
  src/Query/OnConflict.php
  tests/Database/Functional/Driver/Common/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/MySQL/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/Postgres/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/SQLServer/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/SQLite/Query/UpsertQueryTest.php
  tests/Database/Unit/Driver/MySQL/MySQLOnConflictTest.php
  tests/Database/Unit/Driver/Postgres/PostgresOnConflictTest.php
  tests/Database/Unit/Query/OnConflictTest.php
  tests/Database/Unit/Query/Tokens/InsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

refactor: Rename `CursorableInterface` to `CursorInterface`
  src/Database.php
  src/DatabaseInterface.php
  src/Driver/CursorInterface.php
  src/Driver/CursorOptions.php
  src/Driver/Postgres/PostgresDriver.php
  src/Driver/SQLServer/CursorType.php
  src/Driver/SQLServer/SQLServerCursorOptions.php
  src/Driver/SQLServer/SQLServerDriver.php
  src/Driver/SQLite/SQLiteDriver.php
  tests/Database/Functional/Driver/Common/Driver/DriverTest.php
Owners: @cycle/core-contributors, @cycle/contributors

Fixes after review
  src/Driver/MySQL/MySQLCompiler.php
  src/Driver/MySQL/MySQLOnConflict.php
  src/Query/InsertQuery.php
  src/Query/OnConflict.php
  tests/Database/Functional/Driver/MySQL/Query/UpsertQueryTest.php
  tests/Database/Unit/Query/OnConflictTest.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: Added 'FOR UPDATE SKIP LOCKED' and 'FOR UPDATE NOWAIT' to SelectQuery
  src/Driver/Compiler.php
  src/Driver/CompilerCache.php
  src/Driver/MySQL/MySQLCompiler.php
  src/Driver/Postgres/Query/PostgresSelectQuery.php
  src/Driver/SQLServer/SQLServerCompiler.php
  src/Driver/SQLite/SQLiteCompiler.php
  src/Query/Enum/LockBehavior.php
  src/Query/Enum/LockMode.php
  src/Query/SelectQuery.php
  tests/Database/Functional/Driver/Common/Query/SelectQueryTest.php
  tests/Database/Functional/Driver/Postgres/Query/SelectQueryTest.php
  tests/Database/Functional/Driver/SQLServer/Query/SelectQueryTest.php
  tests/Database/Functional/Driver/SQLite/Query/SelectQueryTest.php
  tests/Database/Unit/Query/Tokens/SelectQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

test: Increase MSSQL coverage
  tests/Database/Functional/Driver/SQLServer/Query/UpsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: Add `InsertQuery::onConflict()` method (#249)
  src/Driver/Compiler.php
  src/Driver/CompilerCache.php
  src/Driver/CompilerInterface.php
  src/Driver/MySQL/MySQLCompiler.php
  src/Driver/MySQL/MySQLOnConflict.php
  src/Driver/Postgres/PostgresCompiler.php
  src/Driver/Postgres/PostgresOnConflict.php
  src/Driver/Postgres/Query/PostgresInsertQuery.php
  src/Driver/SQLServer/SQLServerCompiler.php
  src/Driver/SQLServer/SQLServerOnConflict.php
  src/Query/ActiveQuery.php
  src/Query/ConflictAction.php
  src/Query/InsertQuery.php
  src/Query/OnConflict.php
  tests/Database/Functional/Driver/Common/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/MySQL/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/Postgres/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/SQLServer/Query/UpsertQueryTest.php
  tests/Database/Functional/Driver/SQLite/Query/UpsertQueryTest.php
  tests/Database/Unit/Driver/MySQL/MySQLOnConflictTest.php
  tests/Database/Unit/Driver/Postgres/PostgresOnConflictTest.php
  tests/Database/Unit/Query/OnConflictTest.php
  tests/Database/Unit/Query/Tokens/InsertQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: Add `wrapWhere` method to group existing WHERE conditions
  src/Query/Traits/WhereTrait.php
  tests/Database/Functional/Driver/Common/Query/SelectQueryTest.php
  tests/Database/Unit/Query/Tokens/SelectQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: Add `SelectQuery::wrapWhere()` to group WHERE conditions (#250)
  src/Query/Traits/WhereTrait.php
  tests/Database/Functional/Driver/Common/Query/SelectQueryTest.php
  tests/Database/Unit/Query/Tokens/SelectQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

test(OnConflict): add tests for cache key generation with update parameters
  tests/Database/Unit/Query/OnConflictTest.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: Add `wrapOnWhere()` method to group JOIN ON conditions
  src/Query/Traits/JoinTrait.php
  tests/Database/Functional/Driver/Common/Query/SelectWithJoinQueryTest.php
  tests/Database/Unit/Query/Tokens/SelectQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

style(php-cs-fixer): fix coding standards
  tests/Database/Functional/Driver/Common/Query/SelectWithJoinQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

feat: Add `wrapOnWhere()` method to group JOIN ON conditions (#253)
  src/Query/Traits/JoinTrait.php
  tests/Database/Functional/Driver/Common/Query/SelectWithJoinQueryTest.php
  tests/Database/Unit/Query/Tokens/SelectQueryTest.php
Owners: @cycle/core-contributors, @cycle/contributors

test(SelectQuery): reproduce runChunks() skipping the last partial chunk
  tests/Database/Functional/Driver/Common/Driver/StatementTest.php
Owners: @cycle/core-contributors, @cycle/contributors

fix(SelectQuery): process the last partial chunk in runChunks()
  src/Query/SelectQuery.php
Owners: @cycle/core-contributors, @cycle/contributors
