Repository cycle/database, pull requests merged in 2021-12, with the labels that each got.

#25 Adds ColumnReturnableInterface for database drivers, which support RETURNING clause
  src/Driver/Postgres/Query/PostgresInsertQuery.php
  src/Query/ReturningInterface.php
  tests/Database/Functional/Driver/Postgres/Query/InsertQueryTest.php
Labels: enhancement

#40 Downgrade spiral dependencies to stable
  .github/workflows/ci-mssql.yml
  composer.json
Labels: status:ready for merge

#38 Adds ability to set driver name
  src/Config/DatabaseConfig.php
  src/Driver/Driver.php
  src/NamedInterface.php
  tests/Database/Unit/Driver/DatabaseManagerTest.php
Labels: status:ready for merge, type:feature

#37 Optimize fetching indexes and primary keys in Postgres driver
  src/Driver/Postgres/Schema/PostgresTable.php
Labels: type:enhancement, status:ready for merge, PostgreSQL

#34 Cast postgresql char column size to int
  src/Driver/Postgres/Schema/PostgresColumn.php
  tests/Database/Functional/Driver/Common/BaseTest.php
  tests/Database/Functional/Driver/Common/Connection/CustomOptionsTest.php
  tests/Database/Functional/Driver/MySQL/Connection/CustomOptionsTest.php
  tests/Database/Functional/Driver/Postgres/Connection/CustomOptionsTest.php
  tests/Database/Functional/Driver/SQLServer/Connection/CustomOptionsTest.php
  tests/Database/Functional/Driver/SQLite/Connection/CustomOptionsTest.php
Labels: type:enhancement, status:code review
