Repository cycle/database, pull requests merged in 2022-01, with the labels that each got.

#44 Fixed problem with driver name.
  src/Driver/Driver.php
  tests/Database/Unit/Driver/AbstractDriverTest.php
  tests/Database/Unit/Driver/TestDriver.php
Labels: type:bug

#48 Fix wrong bind parameter order in a select with join query
  src/Driver/Compiler.php
  src/Driver/CompilerCache.php
  src/Driver/Quoter.php
  src/Driver/SQLServer/SQLServerCompiler.php
  src/Query/Traits/TokenTrait.php
  tests/Database/Functional/Driver/Common/Query/SelectWithJoinQueryTest.php
Labels: status:under development

#46 Fix access to unitialized driver property on `ActiveQuery::__debugInfo()` call
  src/Driver/Postgres/Query/PostgresInsertQuery.php
  src/Query/ActiveQuery.php
Labels: status:ready for merge
