Repository cycle/database, pull requests merged in 2023-10, with the labels that each got.

#121 Add JSON type for MySQL
  src/Driver/MySQL/MySQLHandler.php
  src/Driver/MySQL/Schema/MySQLColumn.php
  tests/Database/Functional/Driver/Common/Schema/DefaultValueTest.php
  tests/Database/Functional/Driver/MySQL/Schema/CreateTableTest.php
  tests/Database/Functional/Driver/MySQL/Schema/DefaultValueTest.php
Labels: type:feature, MySQL

#132 Adding identity restart parameter to Postgres `eraseTable` method
  .github/workflows/ci-mssql.yml
  .github/workflows/main.yml
  src/Driver/Postgres/PostgresHandler.php
  tests/Database/Functional/Driver/Postgres/Schema/EraseTableTest.php
Labels: type:feature, PostgreSQL

#134 Change JSON mapping from `text` to `json` in Postgres driver
  src/Driver/Postgres/Exception/PostgresException.php
  src/Driver/Postgres/PostgresHandler.php
  src/Driver/Postgres/Schema/PostgresColumn.php
  tests/Database/Functional/Driver/Postgres/Schema/DefaultValueTest.php
Labels: PostgreSQL

#138 Add the ability to set JSON default value as an array
  src/Driver/Postgres/Schema/PostgresColumn.php
  src/Driver/SQLServer/Schema/SQLServerColumn.php
  src/Driver/SQLite/Schema/SQLiteColumn.php
  src/Schema/AbstractColumn.php
  tests/Database/Functional/Driver/Common/Schema/DefaultValueTest.php
  tests/Database/Functional/Driver/MySQL/Schema/DefaultValueTest.php
Labels: type:feature
