Repository cycle/database, pull requests merged in 2023-03, with the labels that each got.

#102 Adding schema to the table dependencies
  src/Driver/Postgres/Schema/PostgresTable.php
  tests/Database/Functional/Driver/Postgres/Schema/TableTest.php
Labels: type:bug, PostgreSQL

#103 Removing table prefix from column
  src/Driver/Quoter.php
  tests/Database/Functional/Driver/Common/Query/SelectQueryTest.php
Labels: type:bug

#106 Adding the ability to use serial without primary key
  composer.json
  src/Driver/Postgres/Schema/PostgresColumn.php
  src/Driver/Postgres/Schema/PostgresTable.php
  src/Schema/State.php
  tests/Database/Functional/Driver/Common/BaseTest.php
  tests/Database/Functional/Driver/Common/Connection/BaseConnectionTest.php
  tests/Database/Functional/Driver/Postgres/Schema/AlterColumnTest.php
  tests/Database/Functional/Driver/Postgres/Schema/ConsistencyTest.php
  tests/Database/Functional/Driver/Postgres/Schema/SerialColumnTest.php
  tests/Database/Unit/Schema/StateTest.php
Labels: type:feature, PostgreSQL

#108 Improve types for `TableInterface` and `ColumnInterface`
  src/ColumnInterface.php
  src/Schema/State.php
  src/TableInterface.php
Labels: type:enhancement

#109 Adding the ability to pass the port as a string
  src/Config/MySQL/TcpConnectionConfig.php
  src/Config/Postgres/TcpConnectionConfig.php
  src/Config/SQLServer/TcpConnectionConfig.php
  tests/Database/Unit/Config/BaseConfigTest.php
  tests/Database/Unit/Config/MySQL/TcpConnectionConfigTest.php
  tests/Database/Unit/Config/Postgres/TcpConnectionConfigTest.php
  tests/Database/Unit/Config/SQLServer/TcpConnectionConfigTest.php
Labels: type:feature

#104 Adding the ability to define column with custom type
  src/Schema/AbstractColumn.php
  tests/Database/Functional/Driver/Common/Schema/AlterColumnTest.php
  tests/Database/Functional/Driver/Postgres/Schema/AlterColumnTest.php
Labels: type:feature
