Repository cycle/database, pull requests merged in 2024-04, with the labels that each got.

#184 Adding support JSON columns in orderBy statement
  CHANGELOG.md
  src/Driver/Compiler.php
  src/Driver/MySQL/MySQLCompiler.php
  src/Driver/Postgres/PostgresCompiler.php
  src/Driver/SQLServer/SQLServerCompiler.php
  src/Driver/SQLite/SQLiteCompiler.php
  tests/Database/Functional/Driver/MySQL/Query/SelectQueryTest.php
  tests/Database/Functional/Driver/Postgres/Query/SelectQueryTest.php
  tests/Database/Functional/Driver/SQLServer/Query/SelectQueryTest.php
  tests/Database/Functional/Driver/SQLite/Query/SelectQueryTest.php
  tests/Database/Unit/Driver/CompilerTest.php
Labels: type:feature, MSSQL, MySQL, PostgreSQL, SQLite

#194 ci: auto apply labels based on files and branches
  .editorconfig
  .github/CODE_OF_CONDUCT.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/labeler.yml
  .github/workflows/apply-labels.yml
  .github/workflows/ci-mssql.yml
  .github/workflows/ci-mysql.yml
  .github/workflows/ci-pgsql.yml
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .scrutinizer.yml
  .styleci.yml
  .yamllint.yaml
  CONTRIBUTING.md
  tests/docker-compose.yml
Labels: type: test, type: documentation, type: maintenance

#196 ci: fixes in commit linting and new issue templates
  .github/.commitlint.config.mjs
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-docs-bug-report.yml
  .github/ISSUE_TEMPLATE/4-security-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/SECURITY.md
  .github/workflows/ci.yml
Labels: type: maintenance, type: feature

#197 chore: fix issue template link
  .github/SECURITY.md
Labels: type: feature

#198 ci: use fixed versions for actions instead of master
  .github/workflows/apply-labels.yml
  .github/workflows/ci.yml
  .github/workflows/create-release.yml
  .gitignore
  composer.json
  composer.lock
Labels: type: maintenance, type: feature

#199 ci: add default CODEOWNERS file
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  LICENSE.md
  README.md
Labels: type: maintenance, type: feature
