Repository cycle/database, pull requests merged in 2024-02, with the labels that each got.

#157 Postgres: add support for multiple returning columns
  src/Driver/CompilerCache.php
  src/Driver/Postgres/PostgresCompiler.php
  src/Driver/Postgres/PostgresDriver.php
  src/Driver/Postgres/Query/PostgresInsertQuery.php
  src/Query/InsertQuery.php
  src/Query/ReturningInterface.php
  tests/Database/Functional/Driver/Postgres/Query/InsertQueryTest.php
  tests/Database/Unit/Driver/CompilerCacheTest.php
Labels: PostgreSQL

#160 Support multiple returning columns in MSSQL driver
  src/Driver/SQLServer/Query/SQLServerInsertQuery.php
  src/Driver/SQLServer/SQLServerCompiler.php
  src/Driver/SQLServer/SQLServerDriver.php
  tests/Database/Functional/Driver/SQLServer/Query/InsertQueryTest.php
  tests/Database/Unit/Driver/SQLServer/Query/SQLServerInsertQueryTest.php
Labels: type:feature, MSSQL

#161 Fix fragment `returning` with parameters
  src/Driver/CompilerCache.php
  src/Driver/Postgres/PostgresCompiler.php
  src/Driver/SQLServer/SQLServerCompiler.php
  tests/Database/Functional/Driver/Postgres/Query/InsertQueryTest.php
  tests/Database/Functional/Driver/SQLServer/Query/InsertQueryTest.php
Labels: type:bug, MSSQL, PostgreSQL

#162 Fix fragment default value
  src/Schema/AbstractColumn.php
  tests/Database/Functional/Driver/Common/Schema/AlterColumnTest.php
Labels: type:bug
