Repository cycle/database, pull requests merged in 2024-06, with the labels that each got.

#206 fix: add parameter consideration when hashing the query part with orderBy
  src/Driver/CompilerCache.php
  tests/Database/Functional/Driver/Common/Query/SelectQueryTest.php
  tests/docker-compose.yml
Labels: type:bug, type: test

#204 Add INTERSECT and EXCEPT operators
  src/Driver/Compiler.php
  src/Driver/CompilerCache.php
  src/Driver/SQLServer/SQLServerCompiler.php
  src/Query/SelectQuery.php
  tests/Database/Functional/Driver/Common/Query/NestedQueriesTest.php
  tests/Database/Unit/Query/Tokens/SelectQueryTest.php
Labels: type: feature

#205 feat: add the ability to specify the full name of the join type
  src/Driver/Compiler.php
  src/Driver/CompilerCache.php
  tests/Database/Functional/Driver/Common/Query/SelectWithJoinQueryTest.php
  tests/Database/Functional/Driver/Postgres/Query/SelectWithJoinQueryTest.php
  tests/Database/Functional/Driver/SQLite/Query/SelectWithJoinQueryTest.php
Labels: type: feature, type: test
