Repository cycle/database, pull requests merged in 2024-03, with the labels that each got.

#167 Improved `orderBy` method.
  src/Driver/Compiler.php
  src/Driver/Postgres/PostgresCompiler.php
  src/Query/SelectQuery.php
  tests/Database/Functional/Driver/Common/Query/SelectQueryTest.php
  tests/Database/Functional/Driver/MySQL/Query/SelectQueryTest.php
  tests/Database/Functional/Driver/Postgres/Query/SelectQueryTest.php
  tests/Database/Unit/Query/Tokens/SelectQueryTest.php
Labels: type:enhancement, type:feature, PostgreSQL

#175 chore(feat/infra-dx-v2): release 3.0.0
  .github/.release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#177 Fix caching for insert queries with fragments
  src/Driver/CompilerCache.php
  tests/Database/Functional/Driver/Common/Query/InsertQueryTest.php
Labels: type:bug

#181 Fixed search for single enum value in PostgreSQL
  src/Driver/Postgres/Schema/PostgresColumn.php
  tests/Database/Functional/Driver/Common/Schema/ConsistencyTest.php
  tests/Database/Unit/Driver/Postgres/Schema/PostgresColumnTest.php
Labels: type:bug, PostgreSQL
